body{
    background-color : #151515
}

.chessBoard{
    display: grid;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
}

.box{
    width: 110px;
    height: 110px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.blackBox{
    background-color: #021526;
}

.whiteBox{
    background-color: #E2E2B6;
}